<!DOCTYPE html>
<html>
<head>

 <%if Rails.env.production?%>
 <%= stylesheet_link_tag "http://ruyi-cdn.b0.upaiyun.com/assets/window.css"%>

<%else%>
  <%= stylesheet_link_tag "window"%>
<%end%>

    <%= yield :styles %>
    <%= yield :scripts %>
</head>
<body>
    <%= yield %>
</body>
</html>